$color-fuente-body: #333;
$color-fondo-1: #FF0;
$color-section: #000;
$color-texto: #FFF;
$color-small: #8f96a8;
$color-fondo-2: #fff;
$color-span-a: #f75940;
$color-turquesa: #3dc7be;
$fuente-1: 'Hind', sans-serif;