//Colors
$primary-accent: #f75940;
$secondary-accent:  #3dc7be;
$main-background: #f0f3f1;
$main-background2: #ffffff;

//Fonts
$font-accent: #334252;
$font-body-color: #5e6271;
$font-small: #8f96a8;
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$primary-font-family: 'Hind', sans-serif;

//Icons
$logo-color: #ffffff;

//Border radius
$border-radius6: 6px;
